.lw-w-width{
    width: 300px;
    text-align: center;
    height: 100px;
    line-height: 100px;
    background-color: royalblue;
    transition: all 1s;
}

@media (max-width: 430px) {
	.footer {
		height: 50px;
	}

	.filters {
		bottom: 10px;
	}
}

:focus,
.toggle:focus + label,
.toggle-all:focus + label {
	box-shadow: 0 0 2px 2px #CF7D7D;
	outline: 0;
}